@import "../../../common/common.less";
.head-bg{
    .all-pifa{
        position: fixed;
        color: #fff;
        border-bottom: 2px solid #fff;
        font-size: @fs-s;
        line-height: 56rpx;
    }
    .pifa{
        margin-left: @size * 58;
        width: 100% - @size * 58;
        overflow-x: scroll;
        word-break: keep-all;
        text{
            margin-right: @pd-s;  
            color: #a3a9b6;
            font-size: @fs-s;
        }
    }
}