@import "../../../common/common.less";
//右侧列表样式
._border-bottom-one{
    border-bottom: 1px solid #ebebeb;
}
._item{
    .pic{
        width: @size * 75;
        height: @size * 75;
        border-radius: @bdrs; 
        background: red;
    }
    >text{
        position: absolute;
        left: @pd-s + @size * 75 + @pd-s;
    } 
    >image{
        position: absolute;
    }
    .name{
        
    }
    .tag{
        top: @size * 40;
        height: @size * 20;
        line-height: @size * 20;
        padding: 0 @size * 6; 
        font-size: @fs-xs;
        border-radius: @bdrs;
    }
    .tag.level-a{
        background: red;
        color: #fff;
    }
    .shoujia{
        top: @size * 65;
        color: #d8243c;
    }
    .jinjia{
        left: @pd-s + @size * 75 + @pd-s + @size * 80;
        top: @size * 68;
        font-size: @fs-s;
    }
    .shangjia{
        top: @size * 100; 
        font-size: @fs-xs;
        color: @fl-hui;
        .tag{
            display: inline-block;
            background: #fff1ee;
            border: 1 solid #e6b8bd;
            color: #e6b8bd;
            margin-right: @pd-s;
            padding: 0 @size * 4;
            border-radius: @bdrs;
        }
    }
    .beizhu{
        top: @size * 125;
        font-size: @fs-xs;
        color: @fl-hui;
        .tag{
            background: #fffdeb;
            border: 1 solid #eed9bf;
            color: #eed9bf;
            margin-right: @pd-s;
            padding: 0 @size * 4;
            border-radius: @bdrs;
        }
    }
    .add{
        width: @size * 30;
        height: @size * 30;
        top: @size * 35;
        right: @pd-s;
    }
    .edit{
        width: @size * 16;
        height: @size * 16;
        right: @pd-s + @size * 7;
        bottom: @pd-s;
    }
}

.head-bg{
    font-size: @fs-s;
    line-height: 56rpx;
    .all{
        position: absolute;
        color: #a3a9b6;
    }
    .all.sel{
        color: #fff;
        border-bottom: 2px solid #fff;
    }
    .top-item-list{
        margin-left: @size * 58;
        overflow-x: scroll;
        white-space: nowrap;
        .item{
            display: inline-block;
            margin-right: @pd-s;  
            color: #a3a9b6;
        }
        .item.sel{
            color: #fff;
            border-bottom: 2px solid #fff;
        }
    }
}
.body-bg{
    bottom: @size * 80;
    .left-item-list,
    .right-item-list{
        display: inline-block;
        height: 100%;
    }
    .left-item-list{
        width: @size * 58;
        background: #f0f0f3;
        color: #77777a;
        .item{
            padding: @pd-s;
            height: 36px;
            line-height: 36px;
            font-size: @fs-s;
        }
        .item.sel{
            color: @fl-lan;
        }
    }
    .right-item-list{
        width:auto;
        position: absolute;
        left: @size * 58;
        right: 0;
        background: #fff;
        .item{
            position: relative;
            padding: @pd-s;
            height: @size * 154;
            border-bottom: 1px solid #ebebeb;
            ._item
        }
    }
}

.foot-bg{
    padding: @pd-s;
    .gouwuche{
        position: relative;
        width: @size *60;
        height: @size * 40;
        >image{
            width: @size * 40;
            height: @size *40;
        }
        >.on{
            display: none;
        }
        .number{
            position: absolute;
            left: @size * 30;
            top: 0;
            width: @size * 26;
            height: @size * 20;
            border-radius: @size * 10; 
            background: #72778a;
            color: #fff;
            text-align: center;
            line-height: @size * 20;
            font-size: @fs-s;
        }
    }
    .gouwuche.rich{
        >.on{
            display: inherit;
        }
        >.off{
            display: none;
        }
        .number{
            background: #d8243c;;
        }
    }
    .shoujia-all{
        position: absolute;
        top: @pd-s;
        left: @size * 90;
        color: #d8243c;
        font-size: @fs-s;
    }
    .jinjia-all{
        position: absolute;
        top: @pd-s;
        right: @size * 160;
        color: @fl-hui;
        font-size: @fs-s;
    }
    .finish{
        position: absolute;
        top: @pd-s;
        right: @pd-s;
        width: @size * 100;
    }
}
/*使屏幕变暗  */
.commodity_screen {
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    bottom: @size * 80;
    // height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}
  /*选择商品弹出框 */
.itemAddChoose {
    height: @size * 320;
    width: 100%;
    position: fixed;
    bottom: -@size * 80;
    left: 0;
    z-index: 2;
    background: #fff;
    > view {
        ._border-bottom-one;
        padding: @pd-s;
    }
    .close {
        position: absolute;
        top: @pd-s + @size * 7;
        right: @pd-s;
        z-index: 3;
    }
    .item {
        position: relative;
        padding: @pd-s;
        ._item;
        height: @size * 100;
    }
    .standard{
        padding: @pd-s/2 @pd-s;
        height: @size * 80;
        > .text{
            text-align:center;
            font-size: @fs-xs;
            color: #77777a;
            margin-bottom: @pd-s/2;
        }
        > .button-text{
            display: inline-block;
            font-size: @fs-s;
            margin-right: @size * 22;
            .button{
                width: @size * 70;
                height: @size * 25;
                line-height: @size * 23;
                text-align: center;
                ._button-border;
            }
            .button.sel{
                background: @fl-lan;
                color: #fff;
                border: 0;
            }
            .text{
                width: @size * 70;
                text-align: center;
                font-size: @fs-xs;
                color: #77777a; 
            }
        }
        > .button-text:last-child {
            margin-right: 0;
        }
    }
    .section {
        .section-text {
            font-size: @fs-xs;
        }
    }
    .button.finish {
        display: inline-block;
        background: @fl-lan;
        color: #fff;
        ._button-border
    }
}
//购物车弹出框
.shoppingCart {
    height: @size * 350;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 2;
    background: #fff; 
    .title {
        height: @size * 45;
        background:#dee2e6;
        padding: @pd-s;
        font-size: @fs-m;
        color: @fl-hui;
        .clear-all {
            image{
                width: @size * 15;
                height: @size * 15;
                position:absolute;
                top: @size * 3;
                left: -@size * 20

            }
            display: inline-block;
            position: absolute;
            right: @pd-s;
            font-size: @fs-s;
        }
    }
    .shoppingCart-item-list{
        height: @size * 305;
        .item{
            position: relative;
            height: @size * 70;
            ._border-bottom-one;
            padding: @pd-s;
            > text{
                position: absolute;
            }
            image{
                position: absolute;
                width: @size * 30;
                height: @size * 30;
            }
            .name{
                font-size: @fs-s;
                .standard{
                    font-size: @fs-xs;
                    color: @fl-hui;
                }
            }
            .shoujia{
                right: @size * 125;
                top: @size * 17;
                font-size: @fs-xs;
                color: #d8243c;
            }
            .jinjia{
                right: @size * 125;
                top: @size * 35;
                font-size: @fs-xs;
            }
            .shangjia{
                top: @size * 35;
                font-size: @fs-xs;
                color: @fl-hui;
                .tag{
                    display: inline-block;
                    background: #fff1ee;
                    border: 1 solid #e6b8bd;
                    color: #e6b8bd;
                    margin-right: @pd-s;
                    padding: 0 @size * 4;
                    border-radius: @bdrs;
                }
            }
            .reduce{
                top: @size * 20;
                right: @size * 80;
            }
            .num {
                top: @size * 22;
                right: @size * 55;
            }
            .add{
                top: @size * 20;
                right: @pd-s;
            }
        }
    }
}